<header>
    <div class="navbar-fixed">
        <nav>
            <div class="navbar-wrapper">
                <a href="#" data-activates="nav-mobile" class="button-collapse" side-nav-collapse><i class="mdi-navigation-menu"></i></a>
                <div class="brand-logo left navbar-title">Wallr</div>
            </div>
        </nav>
    </div>
    <div id="nav-mobile" class="side-nav fixed">
        <div ng-include="'static/views/sidebar.html'"></div>
    </div>
</header>
<main>
    <div ng-view></div>
</main>
