<ul ng-controller="SideBarCtrl as sideBarCtrl" class="wallr-side-nav">
    <li ng-class="{'active': sideBarCtrl.isCurrentRoute(sideBarCtrl.routes.queue)}">
        <a class="bold" ng-click="sideBarCtrl.navigateTo(sideBarCtrl.routes.queue)">Queue</a>
    </li>
    <li class="wallr-menu-subSection">
        <a ng-class="{'active': sideBarCtrl.isCurrentRoute(sideBarCtrl.routes.sources)}" 
           ng-click="sideBarCtrl.navigateTo(sideBarCtrl.routes.sources)">Sources</a>
        <ul>
            <li><a>Source 1</a></li>
            <li><a>Source 2</a></li>
            <li><a>Source 3</a></li>
        </ul>
    </li>
</ul>