<ul ng-controller="SideBarCtrl as sideBarCtrl" class="wallr-side-nav">
    <li ng-class="{'active': sideBarCtrl.isCurrentRoute(sideBarCtrl.routes.queue)}">
        <a class="bold" ng-click="sideBarCtrl.navigateTo(sideBarCtrl.routes.queue)">Queue</a>
    </li>
    <li class="wallr-menu-subSection">
        <a ng-class="{'active': sideBarCtrl.isCurrentRoute(sideBarCtrl.routes.sources)}" 
           ng-click="sideBarCtrl.navigateTo(sideBarCtrl.routes.sources)">Sources</a>
        <ul ng-repeat="source in sideBarCtrl.sources">
            <li><a>{{source.type}}</a></li>
        </ul>
    </li>
</ul>