header, main, footer {
    padding-left: 240px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

nav .brand-logo.navbar-title {
    padding-left: 40px;
}

.wallr-image-card {
    width: 180px;
    height: 150px; /*TODO: Make sure this ratio is 16:9 (or preferably matches the users primary monitor ratio)*/
    display: inline-block;
}

.card .card-image .card-title.wallr-image-title {
    padding-bottom: 2px;
    padding-left: 5px;
    font-size: inherit;
    font-weight: inherit;
}

.wallr-zoom-image {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    color: #fff;
}

.side-nav .wallr-menu-subSection:hover {
    background-color: #fff;
}

.wallr-menu-subSection-heading {
    padding-left: 15px;
}

.side-nav .wallr-side-nav li {
    padding: 0;
}

.side-nav .wallr-side-nav .wallr-menu-subSection li {
    padding-left: 15px;
}

.side-nav-button-container {
    padding-right: 10px;
}

.side-nav-button-inline-button {
    width: 34px;
    height: 34px;
    padding: 0;
}

.side-nav .wallr-menu-subSection a {
    display: inline;
}